<link rel="stylesheet" href="/Runtime-Visualization-Platform/styles/navigation.css">
<header id="navigation_items">
    <div id="logo">
        <span class="logo_picture">
            <img src="/assests/favicon_image.png" alt="logo" height="26px">
        </span>
        <div id="nav_links">
            <a href="/Runtime-Visualization-Platform/index.html">HOME</a>
            <a href="/Runtime-Visualization-Platform/Components/Dashboard.html">DASHBOARD</a>
            <a href="/Runtime-Visualization-Platform/docs/readme.txt">DOCUMENTATION</a>
        </div>
    </div>
</header>
