<header id="navigation_items">
    <div id="logo">
        <span class="logo_picture">
            <img src="/assests/favicon_image.png" alt="logo" height="26px">
        </span>
        <span class="logo_text">RuntimeOS</span>
    </div>
    <div id="nav_links">
        <a href="../index.html">HOME</a>
        <a href="/Runtime-Visualization-Platform/Components/Dashboard.html">DASHBOARD</a>
        <a href="/Runtime-Visualization-Platform/docs/readme.html">DOCUMENTATION</a>
    </div>
</header>