<link rel="stylesheet" href="../styles/sidebar.css">
<div id="content">
    <aside class="sidebar">
        <div class="sidebar_section">
            <div class="sidebar_title"><i>PLATFORM</i></div>
            <nav class="menu">
                <a href="./Dashboard.html" class="left_side_menu">
                    <span class="left_side_menu_span1">⊞</span><i>Overview</i>
                </a>
                <a href="./playground.html" class="left_side_menu2">
                    <span class="left_side_menu_span2">⌨</span><i>Playground</i>
                </a>
            </nav>
        </div>
        <!--------------------------aside menu 2------------------->
        <div class="sidebar_section">
            <div class="sidebar_title"><i>VISUALIZERS</i></div>
            <nav class="menu2">
                <a href="./Components/Call_stack.html" class="left_down_menu1">
                    <span class="left_down_span1">☰</span><i>Call Stack</i>
                </a>
                <a href="./Components/Heap.html" class="left_down_menu2">
                    <span class="left_down_span1">⬡</span><i>Heap Memory</i>
                </a>
                <a href="./Components/Mapping.html" class="left_down_menu3">
                    <span class="left_down_span1">▤</span><i>Mapping</i>
                </a>
                <a href="./Components/Timeline.html" class="left_down_menu4">
                    <span class="left_down_span1">◷</span><i>Timeline</i>
                </a>
                <a href="./Console.html" class="left_down_menu5">
                    <span class="left_down_span1">_</span><i>Console</i>
                </a>

            </nav>
        </div>
    </aside>
</div>