.runtime_console
{
    width: 100%;

    max-width: 1050px;

    background: #020617;

    border: 1px solid #132238;

    border-radius: 14px;

    overflow: hidden;

    margin-top: 28px;

    box-shadow:
    0 0 24px rgba(0,229,255,0.06);
}



.console_topbar
{
    height: 48px;

    background:
    linear-gradient(
    90deg,
    #111827,
    #1e293b
    );

    display: flex;

    align-items: center;

    padding: 0 18px;

    gap: 16px;

    border-bottom: 1px solid rgba(255,255,255,0.06);
}



/* MAC DOTS */

.console_dots
{
    display: flex;

    gap: 8px;
}

.console_dots span
{
    width: 12px;
    height: 12px;

    border-radius: 50%;
}

.console_dots span:nth-child(1)
{
    background: #ff5f57;
}

.console_dots span:nth-child(2)
{
    background: #ffbd2e;
}

.console_dots span:nth-child(3)
{
    background: #28c840;
}



.console_title
{
    color: rgba(255,255,255,0.7);

    font-size: 14px;

    font-family: "Consolas", monospace;
}



/* TERMINAL BODY */

#console_terminal
{
    min-height: 260px;

    padding: 24px;

    color: #00ff95;

    font-family: "Consolas", monospace;

    font-size: 15px;

    line-height: 1.9;

    background: #030712;

    position: relative;

    overflow: hidden;
}



/* SCANLINES */

#console_terminal::before
{
    content: "";

    position: absolute;

    inset: 0;

    background-image:
    linear-gradient(
    rgba(255,255,255,0.02) 1px,
    transparent 1px
    );

    background-size: 100% 4px;

    pointer-events: none;
}